

/*
    Navbar
*/
.nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    border-bottom: 0 solid #000000;
    color: #000000;
}

.nav > .nav-links > a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 10px;
    border-bottom: 0 solid #000000;
    padding-bottom: .3em;
    text-decoration: none;
}


.nav > #nav-check {
    display: none;
}

@media (max-width:753px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #ffffff;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgba(0, 0, 0, 0.73);
    }
    .nav > .nav-links {
        position: relative;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 4%;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(50vh - 100px);
        overflow-y: auto;
    }
}
.logo {
    margin-bottom: -15px;
    width: 40px;
    height: 40px;
}
@media (max-width:280px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #ffffff;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgba(0, 0, 0, 0.73);
    }
    .nav > .nav-links {
        position: relative;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 4%;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(50vh - 100px);
        overflow-y: auto;
    }

    .logo-text {

        display: inline-block;
        font-size: 18px;
        color: #000000;

    }
}
.logo {
    margin-bottom: -15px;
    width: 40px;
    height: 40px;
}

.fa-external-link {
    color: #C6D4DF;
    height: 2px;
    width: 20px;
}
/*
    Navbar
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Amaranth|Anton|Arimo|Baloo+Bhai|Baloo+Bhaina|Baloo+Thambi|Cantarell|Convergence|Cuprum|Days+One|Droid+Sans|Fjalla+One|Hammersmith+One|Jaldi|Lato|Montserrat|Open+Sans|Oswald|Overpass|Oxygen|PT+Sans|Quicksand|Roboto|Roboto+Condensed|Source+Sans+Pro|Ubuntu');


/* properties of the page body */
body{
    background-image: linear-gradient(180deg, #9880FC 0%, #7FCCFC 100%);
    font-family: 'Convergence', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/* properties of the subscribe card */
.subscribe {
    background-image: linear-gradient(220deg, rgba(255, 255, 255, 0.95) 0%, rgb(194, 233, 251) 110%);
    box-shadow: 0 0 26px 1px #a1c3fe;
    padding:10px 50px 50px 50px;
    margin: 3.5em auto 0 auto;
    border-radius: 20px;
    text-align: center;
    width: 280px;
    min-height: 325px;
    height:auto;
    color: #445963;

}

/* Iamage:: Email Logo  */
.subscribe img{
    width: 100px;
    height: 100px;
}

/* Title Card subscribe  */
.subscribe h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size:27px;
}
/* Description of the "card subscribe" */
.subscribe p {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0;
    margin-top: 3px;
    font-size: 16px;
}

/* email input */
input[type=email]  {
    font-family: 'PT Sans', sans-serif;
    background-color: transparent;
    text-align: center;
    width: 100%;
    color: #445963;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    margin-top: 18px;
    font-size: 15px;
    font-style: italic;
    border-bottom: 2px solid #A1C3FE;
}

/* Button transmitter subscribe */
button {
    box-shadow: 0 0 26px 1px #a1c3fe;
    padding: 12px 45px 12px 45px;
    transition: 0.3s linear;
    background: #40C4FF;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    transform: translatey(-3px );
    box-shadow: 0 0 6px #a1c3fe;
}
button:active{
    transform: translatey(3px );
    box-shadow: 0 0 0px #a1c3fe;
}

/*
    Footer
*/

.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#lab_social_icon_footer {

    background-color: #dedede;
    height: 48px;
    bottom: 0;
    position: fixed;
    width: 100%;

}

#lab_social_icon_footer a {
    color: #333;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}
